<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>QUERA</title>
<link rel="stylesheet"
	href="mvc/public/view/css/jquery.mobile-1.1.0.min.css" />
<link rel="stylesheet" href="mvc/public/view/css/jm.css" />
<style>
/* App custom styles */
</style>
<script src="mvc/public/view/js/jquery.min.js">
        </script>
<script src="mvc/public/view/js/jquery.mobile-1.1.0.min.js">
        </script>
<script src="mvc/public/view/js/jm.js">
        </script>
</head>
<body>
<html>
<head>
<title>STOK 1.0</title>
<script type="text/javascript" src="/contas/mvc/view/js/jquery.js"></script>
<script type="text/javascript" src="/contas/mvc/view/js/form.js"></script>
<style type="text/css">
@import url("/contas/mvc/view/css/index.css");

@import url("/contas/mvc/view/css/menu.css");
</style>
</head>
<body marginheight="1" marginwidth="1" rightmargin="1" bottommargin="1"
	leftmargin="1" topmargin="1">
	<table id="Full" cellspacing="5" border="0">
		<tr>
			<td id="Logo" colspan="2">SISTEMA DE CONTROLE DE ESTOQUE - STOK
				1.0</td>
			<td><small> <!-- START BLOCK : operador -->
					{nomeoperador} <!-- END BLOCK : operador -->
			</small></td>
		</tr>
		<tr>
			<td id="Menu">
				<!-- INCLUDE BLOCK : leftMenu -->
			</td>
			<td id="Content" colspan="2">
				<!-- INCLUDE BLOCK : content -->
			</td>
		</tr>
		<tr>
			<td width="160px"></td>
			<td width="100%"></td>
			<td width="250px"></td>
		</tr>
	</table>
	<br>
</body>
</html>