<h3>Editar Produto</h3>
<form action="index" name="fr1" id="fr1" method="get">
	<!-- START BLOCK : obj -->
	<INPUT id="idu" name="idu" type="hidden" value="{idu}" /> <INPUT
		id="id" name="id" type="hidden" value="{id}" />
	<TABLE>
		<TR>
			<TD>Nome</TD>
			<TD><INPUT id="nome" name="nome" size="80" type="text"
				value="{nome}"></TD>
		</TR>
		<TR>
			<TD>Barra</TD>
			<TD><INPUT id="barra" name="barra" size="80" type="text"
				value="{barra}"></TD>
		</TR>
		<TR>
			<TD colspan="2">{mensagem}</TD>
		</TR>

		<TR>
			<TD><INPUT id="action" name="action" type="hidden">
				{btnsalvar}&nbsp;&nbsp;&nbsp;{btndeletar}</TD>
			<TD></TD>
		</TR>
	</TABLE>
	<!-- END BLOCK : obj -->
</form>