<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<style>
body{
	font-family: taroma,sans-serif;
	font-size: 14pt;
}
.nvia{
	font-size: 80pt;
	text-align: right;
	margin: 5px;
}
.tvia{
	font-size: 20pt;
	text-align: right;
	margin: 5px;
}
.linhaArrancada{
	line-height: 14px;
	background-image: url(../images/relatorioArrancada/linha.png);
	background-repeat: repeat-x;
}
.tituloEvento{
	font-size: 20pt;
	padding:0px;
	margin:0px;
}
.tituloPage{
	font-size: 32pt;
	padding:0px;
	margin:0px;
}
.tableBase{
	width:100%;
}
.linhaFormulario{
	width:100%;
}
.linhaFormulario td{
	text-align: right;
}

.categoria{
	font-size: 20pt;
	font-weight: bold;
	text-align: left !important;
}
.outrosCampos{
	font-size: 16pt;
	font-weight: bold;
	text-align: left !important;
}
.tabulacao,.tabulacao1,.tabulacao2,.tabulacao21{
	padding-left: 50px;
}
.tabulacao1{
	text-indent: -26px;
}
.tabulacao2{
	font-style: italic;	
}
.assinatura{
	border-top:3px solid black;
	width: 400px;
	text-align: center;
}


</style>
</head>
<body>
<table class="tableBase">
	<tr>
		<td rowspan="2">
			&nbsp;
		</td>
		<td rowspan="2">
			<img alt="" src="../images/logos/velopark.png">
		</td>
		<td rowspan="2">
			<img alt="" src="../images/logos/cba.png">
		</td>
		<td rowspan="2">
			<img alt="" src="../images/logos/fga.png">
		</td>
		<td rowspan="2">
			<img alt="" src="../images/logos/series.png">
		</td>
		<td rowspan="2">
			&nbsp;
		</td>
		<td class="nvia">
			1ª
		</td>
		<td rowspan="2">
			&nbsp;
		</td>
	</tr>
	<tr>
		<td class="tvia">
				Via
		</td>
	</tr>
</table>
<hr>
<table class="tableBase">
	<tr>
		<td align="center">
<h1 class="tituloEvento">Etapa Final VP Series 2016</h1>
		</td>
	</tr>
</table>
<table class="linhaFormulario">
	<tr>
		<td class="linhaArrancada">
			&nbsp;
		</td>
	</tr>
</table>
<table class="tableBase">
	<tr>
		<td align="center">
<h1 class="tituloPage">Ficha de Inscrição</h1>
		</td>
	</tr>
</table>
<hr>
<table class="linhaFormulario">
	<tr>
		<td>Categoria(s):</td>
		<td class="categoria" colspan="3">Força Livre Traseira ­ FLT</td>
		<td colspan="2"></td>		
	</tr>
	<tr>
		<td class="linhaArrancada" colspan="6">&nbsp;</td>
	</tr>
	<tr>
		<td>Modelo Carro:</td>
		<td class="outrosCampos" colspan="3">CHEVETTE/ BRANCO</td>
		<td >Nº Carro:</td>
		<td class="outrosCampos">10</td>
	</tr>
	<tr>
		<td class="linhaArrancada" colspan="6">&nbsp;</td>
	</tr>
	<tr>
		<td>Nome Piloto:</td>
		<td class="outrosCampos" colspan="3">ALBERTO AIRES</td>
		<td >Apelido:</td>
		<td class="outrosCampos">ZÉ LOUQUINHO</td>
	</tr>
	<tr>
		<td>Endereço:</td>
		<td class="outrosCampos" colspan="3">Carregando..., 123 GUARANI</td>
		<td >Nasc.:</td>
		<td class="outrosCampos">01/05/1981</td>
	</tr>
	<tr>
		<td>Cidade:</td>
		<td class="outrosCampos">COLOMBO</td>
		<td >CEP:</td>
		<td class="outrosCampos">90000­000</td>
		<td >UF.:</td>
		<td class="outrosCampos">PR</td>
	</tr>
	<tr>
		<td>E­mail:</td>
		<td class="outrosCampos" colspan="3">RANCING@RACING.COM.BR</td>
		<td >Fone:</td>
		<td class="outrosCampos">(51) 9111­5440</td>
	</tr>
	<tr>
		<td>CPF:</td>
		<td class="outrosCampos">007770339­17</td>
		<td >CBA:</td>
		<td class="outrosCampos">22945</td>
		<td >Preparador.:</td>
		<td class="outrosCampos">.</td>
	</tr>
	<tr>
		<td class="linhaArrancada" colspan="6">&nbsp;</td>
	</tr>
	<tr>
		<td >Valor Inscrição:</td>
		<td class="outrosCampos" colspan="5">R$ 870,00</td>
	</tr>
	
</table>
<table class="linhaFormulario">
	<tr>
		<td class="linhaArrancada" colspan="6">&nbsp;</td>
	</tr>
	<tr>
		<td >
<center>    
ORGANIZADA CONFORME O CÓDIGO DESPORTIVO INTERNACIONAL ­ CDI
E CÓDIGO DESPORTIVO DO AUTOMOBILISMO ­ CDA
</center>
		</td>
	</tr>
	<tr>
		<td class="linhaArrancada" colspan="6">&nbsp;</td>
	</tr>
</table>
<table class="tableBase">
	<tr>
		<td align="center" class="categoria">
		<center>
 TERMO DE CONSENTIMENTO E RESPONSABILIDADE PARA PARTICIPAÇÃO EM COMPETIÇÃO DE ARRANCADA.:
 </center>
		</td>
	</tr>
</table>
<hr>
<table class="tableBase">
	<tr>
		<td >
Com vistas a participação em competição de arrancada a ser realizada no Velopark Kartódromo Nova Santa Rita Ltda, o participanteacima qualificado, DECLARA que está ciente e de pleno acordo com as seguintes cláusulas e condições:<br>
<br>
		</td>
	</tr>
	<tr>
		<td class="tabulacao1">
1. Tem conhecimento de que a atividade de arrancada e competição automobilística constitui prática esportiva de alto risco, eque pode constituir ato e/ou fato que afete diretamente a integridade física do participante, ao veículo de sua propriedade e/oupor ele conduzido, a qualquer dos integrantes de sua equipe, a qualquer pessoa que esteja nas dependências e instalaçõesfísicas do box e/ou de qualquer área destinada à preparação de veículos destinados à competição, bem como a qualquerpessoa que esteja usufruindo das instalações físicas da praça esportiva onde será realizado o evento.<br>
		</td>
	</tr>
	<tr>
		<td class="tabulacao1">
2. Tem conhecimento de que ao eleger a prática de atividade de arrancada e competição automobilística assume pessoalmentetodos os riscos a ela inerentes, conforme acima elencados.<br>
		</td>
	</tr>
	<tr>
		<td class="tabulacao1">
3. Tem pleno conhecimento das normas e regulamentos expedidos pelo VELOPARK (regulamento desportivo, técnico eparticular da prova), bem como pela Federação Internacional de Automobilismo – FIA, pela Confederação Brasileira deAutomobilismo – CBA e pela Federação Gaúcha de Automobilismo – FGA, quanto às disposições relativas aos requisitosessenciais que devem necessariamente ser atendidos e respeitados para possibilitar a participação e a prática de atividadesesportivas, automotivas e/ou automobilísticas, e ao uso de praças esportivas destinadas às atividades automotoras e/ouautomobilísticas.<br>
		</td>
	</tr>
	<tr>
		<td class="tabulacao1">
4. Tem conhecimento de que o veículo a ser conduzido na atividade de arrancada e competição automobilística deve estar emconformidade com as disposições normativas internas do VELOPARK, da Confederação Brasileira de Automobilismo – CBA,do Regulamento Técnico Gaúcho 2015 de Arrancada e do Código Desportivo Internacional – em seu anexo “J” –, cuja íntegradeclara ter total conhecimento.<br>
		</td>
	</tr>
	<tr>
		<td class="tabulacao1">
5. Tem conhecimento da existência de cobertura por seguro firmado em apólice contratada pela Confederação Brasileira deAutomobilismo, e de que o <b>VELOPARK não se responsabiliza de nenhuma forma pela indenização de bens e/ou direitos</b>,sejam eles segurados ou não, mormente em caso de eventuais acidentes e/ou danos materiais e/ou pessoais, causados porerro de pilotagem, problemas mecânicos e afins.<br>
		</td>
	</tr>
	<tr>
		<td class="tabulacao1">
6. Tem ciência e está de pelo acordo que se reserva ao Município de Nova Santa Rita o direito de acesso ao Autódromo, a fimde proceder vistoria e outras diligências que entender conveniente.<br>
		</td>
	</tr>
	<tr>
		<td class="tabulacao1">
7. Assume toda responsabilidade sobre qualquer falha mecânica e/ou acidentes causados por si e/ou por sua equipe, durantetreino e/ou provas, responsabilizando­se civil e criminalmente ­ no caso de danos diretos ou indiretos ­ por danos causadosàs dependências do VELOPARK ou a terceiros, bem como ao patrimônio público, isentando moral, civil e criminalmente oVELOPARK por qualquer espécie de incidente em que se envolva, direta ou indiretamente, inclusive atropelamento na áreade boxes.<br>
		</td>
	</tr>
	<tr>
		<td class="tabulacao1">
8. Responde de forma pessoal, por si e pela equipe da qual integra, por todos os atos praticados e/ou fatos ocorridos a que dercausa – parcial e/ou total – sendo certo que o VELOPARK não se responsabiliza por qualquer evento, ato ou fato decorrenteda conduta do participante, decorrente ou não de pilotagem.<br>
		</td>
	</tr>
	<tr>
		<td class="tabulacao1">
9. Compromete­se a isentar o VELOPARK, o Município de Nova Santa Rita e o organizador do evento de quaisquerresponsabilidades morais, civis e criminais por eventuais danos advindos da prática esportiva por si eleita.<br>
		</td>
	</tr>
	<tr>
		<td class="tabulacao1">
10. Deve adotar comportamento e ter conduta compatíveis com as práticas esportivas, não praticando qualquer ato querepresente ou possa representar conduta antidesportiva, fazendo com que qualquer pessoa a ele – direta e/ou indiretamente– relacionada e/ou vinculada, bem como todos os integrantes de sua equipe cumpram as normas de conduta e demaisregramentos referidos neste termo.<br>
		</td>
	</tr>
	<tr>
		<td class="tabulacao1">
11. Deve estar habilitado para a prática automobilística e possuir carteira de piloto válida.<br>
		</td>
	</tr>
	<tr>
		<td class="tabulacao1">
12. Deve sujeitar­se a todo e qualquer exame e/ou teste preventivo, prévio, intermediário, corretivo e/ou conclusivo, tanto decaráter físico de sua pessoa e/ou de qualquer dos integrantes de sua equipe – notadamente dentre estes exame, o debafômetro, de sangue, sem prejuízo de outros ainda que não enumerados – como de todo e qualquer equipamento por elee/ou pela equipe utilizados no evento, acatando os resultados apresentados pela entidade instituidora e/ou organizadora doevento que o subscritor pretende participar e/ou por qualquer terceiro a esta cooperado.<br>
		</td>
	</tr>
	<tr>
		<td class="tabulacao1">
13. Deve ressarcir o VELOPARK, a entidade instituidora e/ou organizadora do evento que o subscritor pretende participar e/ou aoterceiro prejudicado, por todo e qualquer ato e/ou fato que for atribuído ao subscritor e/ou a qualquer integrante da equipe daqual faz parte.<br>
		</td>
	</tr>
	<tr>
		<td class="tabulacao1">
14. Deve, obrigatoriamente, portar e fazer uso de equipamentos de proteção individual usualmente adotados para a prática daatividade esportiva eleita, – exemplificando mas não se limitando ao uso de capacete, cinto de segurança, extintor deincêndio, luva, sapatilha, macacão para uso especifico na modalidade, dentre outros aplicáveis – em perfeitas condições deuso e de validade.<br>
		</td>
	</tr>
	<tr>
		<td class="tabulacao1">
15. Deve obrigar que todos os integrantes da equipe da qual faz parte façam uso dos equipamentos de proteção individualnecessários.<br>
		</td>
	</tr>
	<tr>
		<td class="tabulacao1">
16. Deve sujeitar­se aos regulamentos e aceitar a vistoria do veículo, o enquadramento de categoria e o resultado que lhe forapresentado pela entidade instituidora e/ou organizadora do evento que o subscritor pretende participar, acatando aconclusão que lhe for exibida pelos organizadores do evento, obrigando­se a retirar o veículo desclassificado da praça deeventos ou a implementar as correções necessárias no prazo que lhe for determinado.<br>
		</td>
	</tr>
</table>
<table class="tableBase">
	<tr>
		<td>
		<br>
Declara expressamente autorizar e conceder ao VELOPARK ou a entidade organizadora do evento do 
qual pretende participar, a título gratuito, os direitos de uso de imagem do subscritor, 
bem como as imagens do veículo que será por ele conduzido no evento do qual pretende participar, 
prescrevendo formalmente que este direito de uso poderá ser utilizado pelo prazo de 5 (cinco) anos.
<br><br>
O participante declara ainda que está ciente das normas e regulamentos do Velopark Kartódromo Nova 
Santa Rita, em especial que é <b>expressamente proibido</b>:
<br><br>
		</td>
	</tr>
	<tr>
		<td class="tabulacao21">
INGERIR BEBIDA ALCOÓLICA NA DATA DO EVENTO E ANTES DA COMPETIÇÃO, SOB PENA DE DESCLASSIFICAÇÃO AUTOMÁTICA;
<br><br>
		</td>
	</tr>
	<tr>
		<td class="tabulacao2">
a. TRAFEGAR NA PISTA E/OU FAZER USO DA MESMA COM QUALQUER VEÍCULO AUTOMOTOR OU BICICLETA SEM QUE
HAJA AUTORIZAÇÃO DE USO;
		</td>
	</tr>
	<tr>
		<td class="tabulacao2">
b. AO PEDESTRE, ATRAVESSAR A PISTA EM DIAS DE COMPETIÇÃO, TREINOS OU SIMILARES;
		</td>
	</tr>
	<tr>
		<td class="tabulacao2">
c. AMARRAR COM CORDAS E/OU ARAMES QUALQUER DISPOSITIVO NOS CANOS DE AR COMPRIMIDO, NAS
TUBULAÇÕES DA REDE ELÉTRICA E/OU EM CALHAS DE ILUMINAÇÃO NA ÁREA DE BOX, PADDOCK E SECRETARIA,
BEM COMO COLAR, PINTAR, PERFURAR, FURAR OU FIXAR QUALQUER OBJETO NAS PAREDES OU NO TETO DOS
BOXES, PADDOCK E SECRETARIA;
		</td>
	</tr>
	<tr>
		<td class="tabulacao2">
d. DEIXAR QUALQUER FLUÍDO NO PISO, OU PATINAR QUALQUER VEÍCULO NA ÁREA INTERNA, FRENTE E FUNDO DOS
BOXES;
		</td>
	</tr>
	<tr>
		<td class="tabulacao2">
e. USAR CHURRASQUEIRAS E SIMILARES NO INTERIOR DOS BOXES E/OU NO MURO DO PIT LANE¹;
		</td>
	</tr>
	<tr>
		<td class="tabulacao2">
f. PERMITIR A PERMANÊNCIA DE CRIANÇAS E MENORES DE 18 ANOS NA ÁREA DE FUNDOS DE BOX, PIT LANE E NO
MURO ENTRE O PIT LANE E A PISTA, A EXCEÇÃO DE PILOTOS DEVIDAMENTE CREDENCIADOS;
		</td>
	</tr>
	<tr>
		<td class="tabulacao2">
g. PERMITIR A ENTRADA OU MANTER ANIMAIS DE QUALQUER ESPÉCIE NO COMPLEXO DO AUTÓDROMO;
		</td>
	</tr>
	<tr>
		<td class="tabulacao2">
h. FUMAR, VENDER E/OU CONSUMIR BEBIDA ALCOÓLICA NA ÁREA DOS BOXES;
		</td>
	</tr>
	<tr>
		<td class="tabulacao2">
i. REALIZAR MANOBRAS RADICAIS (“ZERINHOS”, “CAVALO DE PAU”, ETC.) POR QUALQUER VEÍCULO NA ÁREA DE
VISTORIA, BEM COMO EM TODA ÁREA DE ESTACIONAMENTO VIP, DAS CEGONHAS, MOTOR HOMES, BOX, FUNDOS DE
BOX E PIT LANE;
		</td>
	</tr>
	<tr>
		<td class="tabulacao2">
j. OBSTRUIR O ACESSO ÀS MANGUEIRAS DE COMBATE A INCÊNDIOS.
		</td>
	</tr>
</table>
<table class="tableBase">
	<tr>
		<td colspan="3">
		<br><br><br><br><br><br>
		<center>
Nova Santa Rita, 28 de Novembro 2016
<br><br><br><br><br><br>
		</center>
		</td>
	</tr>
	<tr>
		<td class="assinatura">
			Testemunha
		</td>
		<td>	
			&nbsp;
		</td>
		<td class="assinatura">
			Assinatura do Piloto
		</td>
	</tr>
</table>
<table class="tableBase">
	<tr>
		<td>		
		<!-- 
20/02/2017 Contrato ­ ALBERTO AIRES
http://velopark.com.br/velopark/gpadmin/routines.php?action=contratoPdf&id_inscricao=3448 3/5
Etapa Final VP Series 2016
Ficha de Inscrição
Categoria(s):  Força Livre Traseira ­ FLT
Modelo Carro:    CHEVETTE/ BRANCO Nº Carro:    10
Nome Piloto:    ALBERTO AIRES Apelido:     ZÉ LOUQUINHO
   Endereço:    Carregando..., 123 GUARANI Nasc.:     01/05/1981
       Cidade:    COLOMBO CEP:   90000­000 UF.:   PR
        E­mail:    RANCING@RACING.COM.BR Fone:     (51) 9111­5440
           CPF:    007.770.339­17 CBA:   22945 Preparador:   .
Valor Inscrição:    R$ 870,00
ORGANIZADA CONFORME O CÓDIGO DESPORTIVO INTERNACIONAL ­ CDI
E CÓDIGO DESPORTIVO DO AUTOMOBILISMO ­ CDA
TERMO DE CONSENTIMENTO E RESPONSABILIDADE PARA PARTICIPAÇÃO EM COMPETIÇÃO
DE ARRANCADA.:
Com vistas a participação em competição de arrancada a ser realizada no Velopark Kartódromo Nova Santa Rita Ltda, o participante
acima qualificado, DECLARA que está ciente e de pleno acordo com as seguintes cláusulas e condições:
1. Tem conhecimento de que a atividade de arrancada e competição automobilística constitui prática esportiva de alto risco, e
que pode constituir ato e/ou fato que afete diretamente a integridade física do participante, ao veículo de sua propriedade e/ou
por ele conduzido, a qualquer dos integrantes de sua equipe, a qualquer pessoa que esteja nas dependências e instalações
físicas do box e/ou de qualquer área destinada à preparação de veículos destinados à competição, bem como a qualquer
pessoa que esteja usufruindo das instalações físicas da praça esportiva onde será realizado o evento.
2. Tem conhecimento de que ao eleger a prática de atividade de arrancada e competição automobilística assume pessoalmente
todos os riscos a ela inerentes, conforme acima elencados.
3. Tem pleno conhecimento das normas e regulamentos expedidos pelo VELOPARK (regulamento desportivo, técnico e
particular da prova), bem como pela Federação Internacional de Automobilismo – FIA, pela Confederação Brasileira de
Automobilismo – CBA e pela Federação Gaúcha de Automobilismo – FGA, quanto às disposições relativas aos requisitos
essenciais que devem necessariamente ser atendidos e respeitados para possibilitar a participação e a prática de atividades
esportivas, automotivas e/ou automobilísticas, e ao uso de praças esportivas destinadas às atividades automotoras e/ou
automobilísticas.
4. Tem conhecimento de que o veículo a ser conduzido na atividade de arrancada e competição automobilística deve estar em
conformidade com as disposições normativas internas do VELOPARK, da Confederação Brasileira de Automobilismo – CBA,
do Regulamento Técnico Gaúcho 2015 de Arrancada e do Código Desportivo Internacional – em seu anexo “J” –, cuja íntegra
declara ter total conhecimento.
5. Tem conhecimento da existência de cobertura por seguro firmado em apólice contratada pela Confederação Brasileira de
Automobilismo, e de que o VELOPARK não se responsabiliza de nenhuma forma pela indenização de bens e/ou direitos,
sejam eles segurados ou não, mormente em caso de eventuais acidentes e/ou danos materiais e/ou pessoais, causados por
erro de pilotagem, problemas mecânicos e afins.
6. Tem ciência e está de pelo acordo que se reserva ao Município de Nova Santa Rita o direito de acesso ao Autódromo, a fim
de proceder vistoria e outras diligências que entender conveniente.
7. Assume toda responsabilidade sobre qualquer falha mecânica e/ou acidentes causados por si e/ou por sua equipe, durante
treino e/ou provas, responsabilizando­se civil e criminalmente ­ no caso de danos diretos ou indiretos ­ por danos causados
às dependências do VELOPARK ou a terceiros, bem como ao patrimônio público, isentando moral, civil e criminalmente o
VELOPARK por qualquer espécie de incidente em que se envolva, direta ou indiretamente, inclusive atropelamento na área
de boxes.
8. Responde de forma pessoal, por si e pela equipe da qual integra, por todos os atos praticados e/ou fatos ocorridos a que der
causa – parcial e/ou total – sendo certo que o VELOPARK não se responsabiliza por qualquer evento, ato ou fato decorrente
da conduta do participante, decorrente ou não de pilotagem.
9. Compromete­se a isentar o VELOPARK, o Município de Nova Santa Rita e o organizador do evento de quaisquer
responsabilidades morais, civis e criminais por eventuais danos advindos da prática esportiva por si eleita.
20/02/2017 Contrato ­ ALBERTO AIRES
http://velopark.com.br/velopark/gpadmin/routines.php?action=contratoPdf&id_inscricao=3448 4/5
10. Deve adotar comportamento e ter conduta compatíveis com as práticas esportivas, não praticando qualquer ato que
represente ou possa representar conduta antidesportiva, fazendo com que qualquer pessoa a ele – direta e/ou indiretamente
– relacionada e/ou vinculada, bem como todos os integrantes de sua equipe cumpram as normas de conduta e demais
regramentos referidos neste termo.
11. Deve estar habilitado para a prática automobilística e possuir carteira de piloto válida.
12. Deve sujeitar­se a todo e qualquer exame e/ou teste preventivo, prévio, intermediário, corretivo e/ou conclusivo, tanto de
caráter físico de sua pessoa e/ou de qualquer dos integrantes de sua equipe – notadamente dentre estes exame, o de
bafômetro, de sangue, sem prejuízo de outros ainda que não enumerados – como de todo e qualquer equipamento por ele
e/ou pela equipe utilizados no evento, acatando os resultados apresentados pela entidade instituidora e/ou organizadora do
evento que o subscritor pretende participar e/ou por qualquer terceiro a esta cooperado.
13. Deve ressarcir o VELOPARK, a entidade instituidora e/ou organizadora do evento que o subscritor pretende participar e/ou ao
terceiro prejudicado, por todo e qualquer ato e/ou fato que for atribuído ao subscritor e/ou a qualquer integrante da equipe da
qual faz parte.
14. Deve, obrigatoriamente, portar e fazer uso de equipamentos de proteção individual usualmente adotados para a prática da
atividade esportiva eleita, – exemplificando mas não se limitando ao uso de capacete, cinto de segurança, extintor de
incêndio, luva, sapatilha, macacão para uso especifico na modalidade, dentre outros aplicáveis – em perfeitas condições de
uso e de validade.
15. Deve obrigar que todos os integrantes da equipe da qual faz parte façam uso dos equipamentos de proteção individual
necessários.
16. Deve sujeitar­se aos regulamentos e aceitar a vistoria do veículo, o enquadramento de categoria e o resultado que lhe for
apresentado pela entidade instituidora e/ou organizadora do evento que o subscritor pretende participar, acatando a
conclusão que lhe for exibida pelos organizadores do evento, obrigando­se a retirar o veículo desclassificado da praça de
eventos ou a implementar as correções necessárias no prazo que lhe for determinado.
Declara expressamente autorizar e conceder ao VELOPARK ou a entidade organizadora do evento do qual pretende participar, a
título gratuito, os direitos de uso de imagem do subscritor, bem como as imagens do veículo que será por ele conduzido no evento do
qual pretende participar, prescrevendo formalmente que este direito de uso poderá ser utilizado pelo prazo de 5 (cinco) anos.
O participante declara ainda que está ciente das normas e regulamentos do Velopark Kartódromo Nova Santa Rita, em especial que
é expressamente proibido:
INGERIR BEBIDA ALCOÓLICA NA DATA DO EVENTO E ANTES DA COMPETIÇÃO, SOB PENA DE DESCLASSIFICAÇÃO AUTOMÁTICA;
a. TRAFEGAR NA PISTA E/OU FAZER USO DA MESMA COM QUALQUER VEÍCULO AUTOMOTOR OU BICICLETA SEM QUE
HAJA AUTORIZAÇÃO DE USO;
b. AO PEDESTRE, ATRAVESSAR A PISTA EM DIAS DE COMPETIÇÃO, TREINOS OU SIMILARES;
c. AMARRAR COM CORDAS E/OU ARAMES QUALQUER DISPOSITIVO NOS CANOS DE AR COMPRIMIDO, NAS
TUBULAÇÕES DA REDE ELÉTRICA E/OU EM CALHAS DE ILUMINAÇÃO NA ÁREA DE BOX, PADDOCK E SECRETARIA,
BEM COMO COLAR, PINTAR, PERFURAR, FURAR OU FIXAR QUALQUER OBJETO NAS PAREDES OU NO TETO DOS
BOXES, PADDOCK E SECRETARIA;
d. DEIXAR QUALQUER FLUÍDO NO PISO, OU PATINAR QUALQUER VEÍCULO NA ÁREA INTERNA, FRENTE E FUNDO DOS
BOXES;
e. USAR CHURRASQUEIRAS E SIMILARES NO INTERIOR DOS BOXES E/OU NO MURO DO PIT LANE¹;
f. PERMITIR A PERMANÊNCIA DE CRIANÇAS E MENORES DE 18 ANOS NA ÁREA DE FUNDOS DE BOX, PIT LANE E NO
MURO ENTRE O PIT LANE E A PISTA, A EXCEÇÃO DE PILOTOS DEVIDAMENTE CREDENCIADOS;
g. PERMITIR A ENTRADA OU MANTER ANIMAIS DE QUALQUER ESPÉCIE NO COMPLEXO DO AUTÓDROMO;
h. FUMAR, VENDER E/OU CONSUMIR BEBIDA ALCOÓLICA NA ÁREA DOS BOXES;
i. REALIZAR MANOBRAS RADICAIS (“ZERINHOS”, “CAVALO DE PAU”, ETC.) POR QUALQUER VEÍCULO NA ÁREA DE
VISTORIA, BEM COMO EM TODA ÁREA DE ESTACIONAMENTO VIP, DAS CEGONHAS, MOTOR HOMES, BOX, FUNDOS DE
BOX E PIT LANE;
j. OBSTRUIR O ACESSO ÀS MANGUEIRAS DE COMBATE A INCÊNDIOS.
Nova Santa Rita, 28 de Novembro 2016
Testemunha   Assinatura do Piloto
20/02/2017 Contrato ­ ALBERTO AIRES
http://velopark.com.br/velopark/gpadmin/routines.php?action=contratoPdf&id_inscricao=3448 5/5
Etapa Final VP Series 2016
Ficha de Vistoria
Categoria(s):  Força Livre Traseira ­ FLT
Modelo Carro:    CHEVETTE/ BRANCO Nº Carro:    10
Nome Piloto:    ALBERTO AIRES Apelido:     ZÉ LOUQUINHO
   Endereço:    Carregando..., 123 GUARANI Nasc.:     01/05/1981
       Cidade:    COLOMBO CEP:   90000­000 UF.:   PR
        E­mail:    RANCING@RACING.COM.BR Fone:     (51) 9111­5440
           CPF:    007.770.339­17 CBA:   22945 Preparador:   .
Observação da Vistoria:

-->
		</td>
	</tr>
</table>

</body>
</html>